*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
input {
    outline: none;
}
body {
    height: 100%;
    background-color: #f1f2f6;
}
.yslg-contentMain {
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    color: #333;
}